<%- include("partials/header") %>
    <div class="ui main text container">
   	    <div class="ui huge header"><%=blog.title%></div>
        <div class="ui top attached segment">
	        <div class="item">
	           <img class="ui centered rounded image" src="<%= blog.image %>">
	            <div class="content">
	                <div class="meta">
						<br>
    	                <span><%= blog.created.toDateString() %></span>
	                </div>
            	     <div class="description">
            	        <p><%- blog.body %></p>
            	     </div>
	            </div>
			</div>
			<br>
			<div class="ui buttons">
				<a href="/blogs/<%=blog._id%>/edit" class="ui green button">Update Blog</a>
				<div class="or"></div>
				<form style="display: inline" method="POST" action="/blogs/<%=blog._id%>?_method=DELETE">
					<button class="ui red button" type="submit">Delete Blog</button>
				</form>
			</div>
		</div>
		<br>
		<br>
    </div>
<%- include("partials/footer") %>

 
